{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
<h3 class="text-white my-5">About Page</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus laborum ad impedit consequatur nostrum a, quod magni illo. Provident molestiae dolorum velit nulla adipisci consequuntur rem ullam minus eligendi, sunt porro laborum illum repellendus temporibus sed vero tempora! Excepturi, vel?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est necessitatibus asperiores eos dolore nemo ab minus iste adipisci ratione excepturi. Tempore cupiditate voluptatibus unde quisquam quam suscipit facere officiis ad modi repellat aut eum culpa adipisci, animi impedit quidem pariatur commodi magni? Sequi quibusdam cum cupiditate nobis consequatur. Consequatur, labore.</p>
</div>
{% endblock content %}